[Desktop Entry]
Name=Mailspring
Comment=The best email app for people and teams at work
GenericName=Mailspring
Exec=/opt/mailspring %U
Icon=mailspring
Type=Application
StartupNotify=true
StartupWMClass=Mailspring
Categories=Network;Email;
Keywords=email;internet;
MimeType=x-scheme-handler/mailto;x-scheme-handler/mailspring;
