[Desktop Entry]
Version=1.0
Name=vivaldi-browser
GenericName=Web Browser
Exec=/usr/bin/vivaldi %U
Terminal=false
Icon=vivaldi-browser.png
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;