[Desktop Entry]
Name=FreeCAD
Comment[en]=FreeCAD is an open-source parametric 3D modeler made primarily to design real-life objects of any size.
Comment[tr]= FreeCAD, öncelikle her boyuttaki gerçek nesneleri tasarlamak için geliştirilmiş, açık kaynaklı, parametrik bir 3B modelleme aracıdır.
Encoding=UTF-8
Exec=FreeCAD
Icon=FreeCAD
Terminal=false
Type=Application
Categories=Development;
