[Desktop Entry]
Categories=viewer;
Comment=Weasis is a multipurpose standalone and web-based DICOM viewer
Comment[tr_TR]=Weasis çok maksatlı kendine özgü web tabanlı DICOM görüntüleyicidir.
Encoding=UTF-8
Exec=weasis
GenericName[tr_TR]=Weasis DICOM görüntüleyici
GenericName=Weasis DICOM viewer
Icon=weasis
Name[tr_TR]=Weasis
Name=Weasis
Terminal=false
Type=Application
Version=3.7.0
