[Desktop Entry]
Name=Visual Studio Code Editor
Comment=Visual Studio Code Editor
GenericName=Text Editor
Exec=/opt/vs-code-editor/code
Icon=code.png
Type=Application
Terminal=false
StartupNotify=true
StartupWMClass=visual-studio-code
Categories=Development;
MimeType=text/plain;
