[Desktop Entry]
Categories=Development;
Comment=The AI Code Editor
Comment[tr_TR]=Yapay Zeka Destekli Kod Düzenleyicisi
Encoding=UTF-8
Exec=Cursor
GenericName[tr_TR]=Yapay Zeka Destekli Kod Düzenleyicisi
GenericName=The AI Code Editor
Icon=cursor
Name[tr_TR]=Cursor
Name=Cursor
Terminal=false
Type=Application
Version=1.0
