[Desktop Entry]
Name=Pencil
Comment=Pencil Project
Version=3.1.0.ga
Type=Application
Categories=Graphics
MimeType=text/plain;
Exec=/opt/pencil-3.1.0.ga/pencil
Terminal=false
StartupNotify=true
Icon=/usr/share/applications/pencil.png
