[Desktop Entry]
Name=Pencil
Comment[en]=Sketching and GUI prototyping tool
Comment[tr]=Cizim ve GUI prototip aracı
Type=Application
Categories=Graphics;2DGraphics;Development
MimeType=application/x-evolus-pencil;
Exec=/opt/pencil/pencil %u
Terminal=false
StartupNotify=true
Icon=pencil
