[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Visual Studio Code
GenericName=Visual Studio Code
GenericName[tr]=Visual Studio Code
Comment=Visual Studio Code
Comment[tr]=Visual Studio Code
Icon=code
Exec=/opt/VSCode-linux-x64/code  --no-sandbox %U
Terminal=false
StartupNotify=false
Categories=Development;
MimeType=text/plain;inode/directory;application/x-visual-studio-code-workspace;
Actions=new-empty-window;
Keywords=vscode;


[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/opt/VSCode-linux-x64/code --no-sandbox --new-window %F
Icon=code
