[Desktop Entry]
Name=Windsurf
Comment=Tomorrow's Editor, Today
Exec=/opt/windsurf/windsurf
Icon=/opt/windsurf/windsurf/resources/app/resources/linux/code.png
Terminal=false
Type=Application
Categories=Development;IDE;
