[Desktop Entry]
Version=1.1
Type=Application
Name=Netflix
Comment=Unofficial Netflix desktop application
Icon=netflix.svg
Exec=netflix
Actions=
Categories=AudioVideo;Video;
GenericName=Unofficial Netflix desktop application
