[Desktop Entry]
Name=GitKraken
Comment=The intuitive, fast, and beautiful cross-platform Git client
GenericName=GitKraken
Exec=/usr/share/gitkraken/gitkraken
Icon=gitkraken
Type=Application
StartupNotify=true
Categories=Development;Documentation;
MimeType=text/plain;
