ACTION=="add", ATTR{idVendor}=="04f9", GOTO="brscan4"
GOTO="brscan4_end"
LABEL="brscan4"
ATTR{idProduct}=="0248", MODE="0664", GROUP="lp", ENV{libsane_matched}="yes"
LABEL="brscan4_end"
