[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/usr/share/icons/utopia.png
Exec=/opt/utopia/messenger/utopia
Path=/opt/utopia/messenger
Name[en_US]=utopia
Name=utopia
Icon=/usr/share/icons/utopia.png