[Desktop Entry]
Categories=Office;
Comment=An office suite that combines text, spreadsheet and presentation editors
Comment[tr_TR]=Metin, tablo ve sunum düzenleyicilerini birleştiren bir ofis paketi
Encoding=UTF-8
Exec=onlyoffice
GenericName[tr_TR]=OnlyOffice
GenericName=OnlyOffice
Icon=onlyoffice.png
Name[tr_TR]=OnlyOffice
Name=onlyoffice
Terminal=false
Type=Application
Version=1.0
